* {
    box-sizing: border-box;
}

#play-area {
    display: grid;
    grid-template-columns: 800px 600px;
}

.board {
    height:400px;
    width: 400px;
    background-color: blue;
    display: grid;
    grid-template-columns: repeat(10, 40px);
}

#ship-area {
    height: 400px;
    width: 150px;
    background-color: red;
}

#player-area {
    display: grid;
    grid-template-columns: 500px 200px ;
}

.empty {
    background-color: blue;
}

.miss {
    background-color: lightblue;
}

.hit {
    background-color: red;
}

.ship {
    background-color: grey;
}