* {
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

#play-area {
    display: grid;
    grid-template-columns: 800px 600px;
}

.board {
    height:400px;
    width: 400px;
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
}

#ship-area {
    height: 400px;
    width: 150px;
    background-color: red;
}

#player-area {
    display: grid;
    grid-template-columns: 500px 200px ;
}

.empty {
    background-color: blue;
}

.miss {
    background-color: lightblue;
}

.hit {
    background-color: red;
}

.ship {
    background-color: grey;
}

.selected {
    background-color: green;
}

.board-space {
    border: solid black 1px;
    display: grid;
    justify-content: center;
    align-items: center;
    font-size: 30px;
}